<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Update Product Form</title>
</head>

<body>
    <h1>Update the given below form of product:-</h1>
    <form action="/products/<%=product.id%>" method="post">
        <input value="<%=product.name%>" type="text" placeholder="Add product's name" name="name">
        <input value="<%=product.quantity%>" type="number" placeholder="Add product's quantity" name="quantity">
        <input value="<%=product.price%>" type="number" placeholder="Add product's price" name="price">
        <input type="file" value="<%=path%>public/uploads/<%=product.image%>" name="image" placeholder="Add product's image">
        <input type="Submit" value="Update">
    </form>
    <hr>
    <footer>
        <a class="btn" href="/admin/products">Lists of products</a>
    </footer>
</body>

</html>